# Rename this file to ".env" and fill in your own key
# You can get your own key at https://console.anthropic.com
ANTHROPIC_API_KEY = sk-ant-key-here

# Claude model that is used in the program -- swap if you use something other than rthe model listen
CLAUDE_MODEL = claude-sonnet-4-6

#Port the local server runs on
PORT = 3000